{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["jsx-a11y", "prettier", "react", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/forbid-prop-types": 0,
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": "off",
    "camelcase": "warn",
    "no-unused-vars": "warn",
    "eqeqeq": "warn",
    "array-callback-return": "warn",
    "consistent-return": "warn",
    "default-case": "warn",
    "guard-for-in": "warn",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "import/prefer-default-export": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/img-redundant-alt": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-onchange": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "no-case-declarations": "warn",
    "no-nested-ternary": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "warn",
    "no-restricted-globals": "warn",
    "no-restricted-syntax": "warn",
    "no-shadow": "warn",
    "no-undef": "warn",
    "no-unused-expressions": "warn",
    "no-use-before-define": "warn",
    "prefer-destructuring": "warn",
    "radix": "warn",
    "react/button-has-type": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "react/jsx-no-target-blank": "warn",
    "react/no-array-index-key": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unused-prop-types": "warn",
    "react/prop-types": "warn",
    "react/require-default-props": "warn",
    "prettier/prettier": ["warn"]
  },
  "env": {
    "browser": true
  }
}
